<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Edit Course</title>
<meta name="robots" content="noindex">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap" rel="stylesheet">
<link type="text/css" href="{{ url_for('static', path='/vendor/perfect-scrollbar.css') }}" rel="stylesheet">
<link type="text/css" href="{{ url_for('static', path='/vendor/fix-footer.css') }}" rel="stylesheet">
<link type="text/css" href="{{ url_for('static', path='/css/material-icons.css') }}" rel="stylesheet">
<link type="text/css" href="{{ url_for('static', path='/css/fontawesome.css') }}" rel="stylesheet">
<link type="text/css" href="{{ url_for('static', path='/css/preloader.css') }}" rel="stylesheet">
<link type="text/css" href="{{ url_for('static', path='/css/app.css') }}" rel="stylesheet">
<link type="text/css" href="{{ url_for('static', path='/css/quill.css') }}" rel="stylesheet">
<link type="text/css" href="{{ url_for('static', path='/css/select2.css') }}" rel="stylesheet">
<link type="text/css" href="{{ url_for('static', path='/vendor/select2/select2.min.css') }}" rel="stylesheet">
</head>

<body class="layout-mini layout-mini">
<div class="preloader">
  <div class="sk-double-bounce">
    <div class="sk-child sk-double-bounce1"></div>
    <div class="sk-child sk-double-bounce2"></div>
  </div>
</div>
<div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
  <div class="mdk-drawer-layout__content page-content">
    <div class="navbar navbar-expand pr-0 navbar-light border-bottom-2" id="default-navbar" data-primary> <img src="{{ url_for('static', path=' /images/logo.png') }}/>
      <button class="navbar-toggler w-auto mr-16pt d-block d-lg-none rounded-0" type="button" data-toggle="sidebar"> <span class="material-icons">short_text</span> </button>
    
      
      <div class="flex"></div>
      <div class="nav navbar-nav flex-nowrap d-flex mr-16pt">
        <div class="nav-item dropdown dropdown-notifications dropdown-xs-down-full" data-toggle="tooltip" data-title="Messages" data-placement="bottom" data-boundary="window">
        
          
        </div>
    
        
      </div>
    </div>
    <div class="pt-32pt">
      <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center">
          <div class="mb-24pt mb-sm-0 mr-sm-24pt">
            <h2 class="mb-0">Magic Jira Description&nbsp;&nbsp;</h2>
            <ol class="breadcrumb p-0 m-0">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active"> Edit Your Jira ticket&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="page-section border-bottom-2">
      <div class="container page__container">
        <div class="row">
          <div class="col-md-8">
            <div class="page-separator">
              <div class="page-separator__text">Basic information</div>
            </div>
            <div class="form-group">
              <label class="form-label">Jira Title</label>
              <input type="text" class="form-control" value="put some jira title in here">
            </div>
            <div class="form-group mb-24pt"> <small class="form-text text-muted">Please see our <a href="">ticket guidelines</a></small> </div>
            <div class="form-group mb-32pt">
              <label class="form-label">Description</label>
              <div style="height: 150px;" class="mb-0" data-toggle="quill" data-quill-placeholder="Ticket description"> </div>
              <small class="form-text text-muted">Shortly describe this ticket.</small> </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header text-center"> <a href="#" class="btn btn-accent">Generate Legit bs</a> </div>
              <div class="list-group list-group-flush">
                <div class="list-group-item d-flex"> <a class="flex" href="#"><strong>Save Draft</strong></a> <i class="material-icons text-muted">check</i> </div>
                <div class="list-group-item"> <a href="#" class="text-danger"><strong>Reset Ticket</strong></a> </div>
              </div>
            </div>
            <div class="page-separator">
              <div class="page-separator__text">Options</div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                  <label class="form-label">How random do you want this to be?</label>
                  <select name="category" class="form-control custom-select">
                    <option value="vuejs">Straight Forward</option>
                    <option value="vuejs">Slightly Random</option>
                    <option value="vuejs">Crazy</option>
                  </select>
                  <small class="form-text text-muted">Select a category.</small> </div>
                <div class="form-group">
                  <label class="form-label">How many words do you need</label>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group form-inline"> <span class="input-group-prepend"></span>
                        <input type="text" class="form-control" value="200">
                      </div>
                    </div>
                  </div>
                  <small class="form-text text-muted">The recommended amount of words is above 100</small> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    
      </div>
      <script src="{{ url_for('static', path='/vendor/jquery.min.js') }}"></script> 
      <script src="{{ url_for('static', path='/vendor/popper.min.js') }}"></script> 
      <script src="{{ url_for('static', path='/vendor/bootstrap.min.js') }}"></script> 
      <script src="{{ url_for('static', path='/vendor/perfect-scrollbar.min.js') }}"></script> 
      <script src="{{ url_for('static', path='/vendor/dom-factory.js') }}"></script> 
      <script src="{{ url_for('static', path='/vendor/material-design-kit.js') }}"></script> 
      <script src="{{ url_for('static', path='/vendor/fix-footer.js') }}"></script> 
      <script src="{{ url_for('static', path='/js/app.js') }}"></script> 
      <script src="{{ url_for('static', path='/vendor/quill.min.js') }}"></script> 
      <script src="{{ url_for('static', path='/js/quill.js') }}"></script> 
      <script src="{{ url_for('static', path='/vendor/select2/select2.min.js') }}"></script> 
      <script src="{{ url_for('static', path='/js/select2.js') }}"></script> 
      <script src="{{ url_for('static', path='/js/sidebar-mini.js') }}"></script> 
      <script>
        (function() {
            'use strict';

            // ENABLE sidebar menu tabs
            $('.js-sidebar-mini-tabs [data-toggle="tab"]').on('click', function(e) {
                e.preventDefault()
                $(this).tab('show')
            })

            $('.js-sidebar-mini-tabs').on('show.bs.tab', function(e) {
                $('.js-sidebar-mini-tabs > .active').removeClass('active')
                $(e.target).parent().addClass('active')
            })
        })()
    </script> 
 

</body>
</html>